
/*
Colors
#455499
#23295d
#e0433c
#a22126
*/

header, nav, aside, article, footer, section, main, figure, figcaption {
	display:block;
}

* {
 	margin:0;
	border:0;
	padding:0;
}

body {
  font-family: 'Tajawal', sans-serif;
  background-color: #455499;
}

/******* FLEXBOX ******/
.container {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.container > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #ffffff;
  padding: 5% 0 3% 3%;
}

.footer {
  background: #ffffff;
}

.main {
  text-align: left;
  background: #ebebeb;
}

.aside {
  background: #d7d7d7;
  text-align: left;
}


/******* TEXT STYLES ******/
h1 {
	font-weight: 700;
	color: #455499;
	font-size: 36px;
  text-align: center;
}

h2 {
	font-weight: 200;
	color: #455499;
	font-size: 30px;
}

h3 {
	font-weight: 400;
	color: #455499;
	font-size: 24px;
}

h4 {
	font-weight: 400;
	color: #455499;
	font-size: 20px;
}

h5 {
	font-weight: 400;
	color: #455499;
	font-size: 18px;
}

h6 {
	font-weight: 400;
	color: #455499;
	font-size: 12px;
}

p {
  font-weight: 400;
	color: #23295d;
	font-size: 16px;
}


/******* NAVIGATION ******/
.nav {
	text-align: center;
  background: #bbbbbb;
  text-transform: uppercase;
	padding-top: 15px;
}


.nav__item {
	margin-left: 1%;
	margin-right: 1%;
}

.nav a {
	color: #a22126;
	font-weight: bold;
  text-decoration: none;
}
.nav a:hover {
	color: #23295d;
	font-weight: bold;
	text-decoration: none;
}


/************  MEDIUM SCREEN STYLING  ************/
@media screen and (min-width: 675px) {

  body {
    background-color: #23295d;
    padding: 5%;
  }

  .aside { flex: 1 auto; }

/************  LARGE SCREEN STYLING  ************/
@media screen and (min-width: 999px) {
  body {
    background-color: #e0433c;
  }

  .main    { flex: 3 0px; }
  .aside   { flex: 1 0px; }
  .main    { order: 1; }
  .aside   { order: 2; }
  .footer  { order: 3; }

}

/************  X-LARGE SCREEN STYLING  ************/
@media screen and (min-width: 1280px) {
  body {
    background-color: #a22126;
  }

}
