body {
  font-family: $primary-font;
  background-color: $lightblue;
}



/******* FLEXBOX ******/
.container {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.container > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: $white;
  padding: 5% 0 3% 3%;
}

.footer {
  background: $white;
}

.main {
  text-align: left;
  background: $maingrey;
}

.aside {
  background: $asidegrey;
  text-align: left;
}



/******* NAVIGATION ******/
.nav {
	text-align: center;
  background: $navgrey;
  text-transform: uppercase;
	padding-top: 15px;
}

.nav__item {
	margin-left: 1%;
	margin-right: 1%;
}

.nav a {
	color: $darkred;
	font-weight: bold;
  text-decoration: none;
}
.nav a:hover {
	color: $darkblue;
	font-weight: bold;
	text-decoration: none;
}


/************  MEDIUM SCREEN STYLING  ************/
@media screen and (min-width: 675px) {

  body {
    background-color: $darkblue;
    padding: 5%;
  }

  .aside { flex: 1 auto; }
}

/************  LARGE SCREEN STYLING  ************/
@media screen and (min-width: 999px) {
  body {
    background-color: $lightred;
  }
  .main    { flex: 3 0px; }
  .aside   { flex: 1 0px; }
  .main    { order: 1; }
  .aside   { order: 2; }
  .footer  { order: 3; }
}

/************  X-LARGE SCREEN STYLING  ************/
@media screen and (min-width: 1280px) {
  body {
    background-color: $darkred;
  }
}
