h1 {
	font-weight: 700;
	color: $lightblue;
	font-size: 36px;
  text-align: center;
}

h2 {
	font-weight: 200;
	color: $lightblue;
	font-size: 30px;
}

h3 {
	font-weight: 400;
	color: $lightblue;
	font-size: 24px;
}

h4 {
	font-weight: 400;
	color: $lightblue;
	font-size: 20px;
}

h5 {
	font-weight: 400;
	color: $lightblue;
	font-size: 18px;
}

h6 {
	font-weight: 400;
	color: $lightblue;
	font-size: 12px;
}

p {
  font-weight: 400;
	color: $darkblue;
	font-size: 16px;
}
